/* ======== SASS VARIABLES ======== */
$color-green: #79a21d;
/* ================================ */


// Modal styles

div.option {
  margin-bottom: 1em;
  text-align: left;

  & input[type="checkbox"] {
    vertical-align: baseline;
    margin-right: 5px;
  }
}

div.confirmations {
  text-align: right;
}